<div class="row">
    <div class="col-xs-12">
        <h2>Follower User</h2>
        <% if @user.follower_user.empty? %>
            <sapn>ユーザーはいません</sapn>
        <% else %>
            <%= render 'relationships/kyoutu', user: @user.follower_user %>
        <% end %>
    </div>
</div>
