<div class="row">
    <div class="col-xs-12">
        <h2>Follow User</h2>
        <% if @user.following_user.empty? %>
            <sapn>ユーザーはいません</sapn>
        <% else %>
            <%= render 'relationships/kyoutu', user: @user.following_user %>
        <% end %>
    </div>
</div>
